
# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

# BIP32 Extended Pubkey, retrieved from wallet
# If you have multiple pubkey, separate by ","
# Although they are public keys, sharing xpub keys are *** NOT RECOMMENDED ***
PUBKEY=xpub6EjHFKMqXCNZX2HoB2eci5sYj4CcCUaE5TRNTLonqrqsuXuAhCLd4v9nZ8vLDqKyb65CYBiXVchfZd9pMLW2gSr3JGFf9RvWYTi7H3HYab2,xpub6FFEvv3epGmrs6BkCf4cpgvFzgE7DCMtR2cJYhWsbvHGR5i17oWY8PGiak1m9a4jVfnArDEiYdKUqeL6KS7rnK2vG5CHJZgMQH915MhDr74

# Application Port - express server listens on this port (default 3000).
PORT=3001
